{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Agregar una etiqueta</h2>
            <button class="btn btn-sm btn-outline-secondary mb-4 px-4" type="button">+</button>
        </div>
    </div>
    {% for i in range(0, tags|length, 5) %}
    <div class="row">
        {% set chunk_size = 5 if (tags[i:i+5]|length) > 0 else tags|length %}
        {% for tag in tags[i:i+chunk_size] %}
        <div class="col-md-{{ 12 // chunk_size }} mb-3">
            <div class="card tag-card py-0">
                <div class="card-body">
                    <span aria-hidden="true">&times;</span>
                    <p class="card-title text-center my-0">{{ tag }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Agregar un producto</h2>
            <button class="btn btn-sm btn-outline-secondary  mb-4 px-4" type="button">+</button>
        </div>
    </div>
</div>
{% endblock %}