{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Agregar una etiqueta</h2>
            <button class="btn btn-sm btn-outline-secondary mb-4 px-4" type="button" data-bs-toggle="modal" data-bs-target="#createTag">+</button>
        </div>
    </div>
    {% for i in range(0, tags|length, 5) %}
    <div class="row justify-content-center">
        {% set chunk_size = 5 if (tags[i:i+5]|length) > 0 else tags|length %}
        {% for tag in tags[i:i+chunk_size] %}
        <div class="col-md-{{ 12 // chunk_size }} mb-3">
            <div class="card tag-card py-0 ">
                <button class="btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center m-0 px-1" type="button" data-bs-toggle="modal" data-bs-target="#updateTagModal{{ tag._id }}">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="card-title my-0 mx-2">{{ tag.name }}</p> 
                    </div>
                </button>
                <button class="btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center m-0 px-1" type="button" data-bs-toggle="modal" data-bs-target="#deleteTagModal{{ tag._id }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <!--modal para la edición de un tag-->
        <div class="modal fade" id="updateTagModal{{ tag._id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateTagModalLabel{{ tag._id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" action="/update_tag/{{ tag._id }}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateTagModalLabel{{ tag._id }}">Actualiza el nombre</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="newTagName">Nuevo nombre</label>
                                <input type="text" class="form-control" id="newTagName" name="newTagName" value="{{ tag.name }}" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--modal para la eliminación de un tag-->
        <div class="modal fade" id="deleteTagModal{{ tag._id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteTagModalLabel{{ tag._id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" action="/delete_tag/{{ tag._id }}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteTagModalLabel{{ tag._id }}">Seguro que quieres eliminar la etiqueta {{ tag.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" name="tag_id" value="{{ tag._id }}">
                                <label class="form-check-label" for="tag_{{ tag._id }}">¿Estás seguro que deseas eliminar la etiqueta {{ tag.name }}?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endfor %}
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Agregar un producto</h2>
            <button class="btn btn-sm btn-outline-secondary mb-4 px-4" type="button" data-bs-toggle="modal" data-bs-target="#addProduct">+</button>

        </div>
    </div>

    {% for i in range(0, products|length, 4) %}
    <div class="row justify-content-center">
        {% set chunk_size = 4 if (products[i:i+4]|length) > 0 else products|length %}
        {% for product in products[i:i+chunk_size] %}
        <div class="col-md-{{ 12 // chunk_size }} mb-3">
            <div class="card tag-card py-0">
                <div class="card-body">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename='img_urls/' + product.image_url) }}" alt="Product Image">
                    </div>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h6 class="card-text">${{ product.price }}</h6>
                    <p class="card-text pb-3">{{ product.description }}</p>
                    {% for tag_id in product.tags %}
                        {% if tag_id %}
                            {% set tag = tag_manager.get_tag_by_id(str(tag_id)) %}
                            {% if tag %}
                                <div class="card tag-card px-1 m-1 text-center">
                                    {{ tag.name }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <button class="btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center m-0 px-1" type="button" data-bs-toggle="modal" data-bs-target="#deleteProductModal{{ product._id }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <!--modal para la eliminación de un producto-->
        <div class="modal fade" id="deleteProductModal{{ product._id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteProductModalLabel{{ product._id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" action="/delete_product/{{ product._id }}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteProductModalLabel{{ product._id }}">Seguro que quieres eliminar el producto {{ product.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" name="product_id" value="{{ product._id }}">
                                <label class="form-check-label" for="product_{{ product._id }}">¿Estás seguro que deseas eliminar el producto {{ product.name }}?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endfor %}

</div>

<!--MODALS-->
<!--modal para la creación de un tag-->
<div class="modal fade" id="createTag" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/create_tag">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear un tag</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tagName">Nombre de la etiqueta</label>
                        <input type="text" class="form-control" id="tagName" name="tagName" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Crear etiqueta</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--modal para agregar un producto-->
<div class="modal fade" id="addProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/add_product" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Agrega un producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="product_img">Imagen del producto</label>
                        <input type="file" class="form-control" id="product_img" name="product_img" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Nombre del producto</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio del producto</label>
                        <input type="number" class="form-control" id="price" name="price" min="0" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Agrega una descripción</label>
                        <input type="text" class="form-control" id="description" name="description" required>
                    </div>
                    <div class="form-group">
                        <label>Selecciona etiquetas que describan tu producto</label><br>
                        {% for tag in tags %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tag_{{ loop.index }}" name="tags[]" value="{{ tag._id }}">
                            <label class="form-check-label" for="tag_{{ loop.index }}">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submitBtn">Agregar producto</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}