{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Agregar una etiqueta</h2>
            <button class="btn btn-sm btn-outline-secondary mb-4 px-4" type="button" data-bs-toggle="modal" data-bs-target="#createTag">+</button>
        </div>
    </div>
    {% for i in range(0, tags|length, 5) %}
    <div class="row justify-content-center">
        {% set chunk_size = 5 if (tags[i:i+5]|length) > 0 else tags|length %}
        {% for tag in tags[i:i+chunk_size] %}
        <div class="col-md-{{ 12 // chunk_size }} mb-3">
            <div class="card tag-card py-0">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <p class="card-title my-0 mx-2">{{ tag }}</p>
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Agregar un producto</h2>
            <button class="btn btn-sm btn-outline-secondary mb-4 px-4" type="button">+</button>

        </div>
    </div>
</div>

<!--MODALS-->
<!--modal para la creación de un tag-->
<div class="modal fade" id="createTag" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/create_tag">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear un tag</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tagName">Nombre de la etiqueta</label>
                        <input type="text" class="form-control" id="tagName" name="tagName" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Crear etiqueta</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}